<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Movieflix</title>
</head>

<body>
  <div class="header"><span class="subheader">Hi John,</span><br> <span class="subheader"> Welcome back 🍿</span></div>
  <div class="container">
    <form>
      <fieldset class="todo-list">
        <legend class="todo-list__title">My Movie List</legend>
      <% for (let i = 0; i < movieNames.length; i++) { %>
        <label class="todo-list__label">
          <input type="checkbox" name="" id="" />
          <i class="check"></i>
          <span><%= movieNames[i] %></span>
        </label>
      <% }; %>
      </fieldset>
    </form>
  </div>
</body>

</html>