<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        input {
            width: 200px;
            height: 40px;
        }
        
    </style>
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <form method="POST" action="myForm">
        <input type="text" name="moviename" placeholder="Movies seperated by comma" />
        <br>
        <input type="submit" value="Send"/>
    </form>
</body>

</html>